<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="FX.Configuration" version="0.3.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="ThingModel" version="0.21.0-rc0" targetFramework="net45" />
  <package id="WebSocketSharp" version="1.0.3-rc5" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>
